html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}
.App {
  text-align: center;
}
header {
  display: flex;
  overflow: hidden;
  padding: 10px 10px;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin: auto;
  background: #eaeaea;
}
header a {
  float: right;
  color: #606060;
  text-align: center;
  padding: 1.5em 2em;
  text-decoration: none;
  font-size: 1.2em; 
  transition: all .2s ease-in-out;
}
.logo{
  float: none;
  padding: 0%;
}
header a:hover{
  transform: scale(1.1);
  color: #ffb8c1;
}
.welcome{
  display: block;
  padding-top: 10em;
  width: 50%;
  margin: 0 auto;
}
.login-comp{
  max-width: 500px;
  margin: 0 auto;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
  color: black;
  background-color: Transparent;
  font-size: large;
  transition: all 0.5s;
  position: relative;
  border: 1px solid black;
  line-height: 50px;;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  width: 40%;
}
button:hover{
  border-radius: 25px;
}
footer {
  /* position: relative; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffb8c1;
  color: #606060;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  margin-top: 10px;
}

.tab-name{
  color: #606060;
  padding: 1.5em 2em;
  text-decoration: none;
  border-bottom: 1px solid #ffb8c1 ;
  font-size: 1.3em; 
  transition: all .2s ease-in-out;
}

.tab-content{
  margin: auto;
  padding: 20px 40px;
}
table{
  margin: auto;
  width: 50%;
  padding: 20px;
}
.googlemaps{
  margin: auto;
  width: 38%;
  padding: 20px;
}
.buttons{
  display: flex;
  justify-content: space-around;
  padding-bottom: 150px;
}
.buttons a{
  width: 50%;
}

.pfp{
  height:10%;
  width: 20%;
  margin: 10px auto;
}